@model RandomNumberGenerator.RandomNumber

@{
    ViewData["Title"] = "Random Number Generator";
}

<link href="~/css/randomNumber.css" rel="stylesheet" />
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/randomNumber.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Random Number Generator!!</p>
</div>

<div class="container" style="padding-bottom:10px;">
    <div class="row">
        <div class="number-field col-xl-3">
            <div>
                <input readonly asp-for="Number1" />
            </div>
            <div>
                <button type="submit" id="number1Btn" class="btn btn-info btn-block addBtn">Add a number</button>
            </div>
        </div>

        <div class="number-field col-xl-3">
            <div>
                <input readonly asp-for="Number2" />
            </div>
            <div>
                <button type="submit" id="number2Btn" class="btn btn-info btn-block addBtn">Add a number</button>
            </div>
        </div>
        <div class="number-field col-xl-3">
            <div>
                <input readonly asp-for="Number3" />
            </div>
            <div>
                <button type="submit" id="number3Btn" class="btn btn-info btn-block addBtn">Add a number</button>
            </div>
        </div>

        <div class="number-field col-xl-3">
            <div>
                <input readonly asp-for="Number4" />
            </div>
            <div>
                <button type="submit" id="number4Btn" class="btn btn-info btn-block addBtn">Add a number</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xl-3">
            <h5>RESULT</h5>
            <input readonly asp-for="Result" />
        </div>
        <div class="col-xl-3">
            <h5>TARGET</h5>
            <input readonly asp-for="Target" />
        </div>
        <div class="col-xl-3">
            <h5>SUCCESS</h5>
            <span id="success">0</span>
        </div>
        <div class="col-xl-3">
            <h5>FAIL</h5>
            <span id="fail">0</span>
        </div>


        <div class="col-xl-12">
            <button type="submit" readonly id="resetBtn" class="btn btn-secondary btn-block">NEW ROUND</button>
        </div>
    </div>
</div>








