@model RandomNumberGenerator.RandomNumber

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-controller="Home" asp-action="Index" method="post">
    <div>

        <label>みぎ</label><input asp-for="RightNumber" />
        <label>ひだり</label><input asp-for="LeftNumber" />

        <label>結果</label><input asp-for="Result" />

        <button type="submit" name="buttonName" value="left">左を足す</button>
        <button type="submit" name="buttonName" value="right">右を足す</button>

    </div>

    <div>
        @*<label>結果</label>*@
        @*<input type="text" name="name" asp-for="Result" />
        <span>@Html.DisplayFor(x => x.Result)</span>*@
    </div>

</form>