@model RandomNumberGenerator.RandomNumber
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-action="Index" method="post">
    <div>
        <label>ランダム１</label>
        <button type="submit" name="buttonName" value="left">@Html.DisplayFor(x => x.LeftNumber)</button>

        <label>ランダム２</label>
        <button type="submit" name="buttonName" value="right">@Html.DisplayFor(x => x.RightNumber)</button>

    </div>

    <div>
        <label>結果</label>
        <span>@Html.DisplayFor(x => x.Result)</span>
    </div>

</form>