@model RandomNumberGenerator.RandomNumber

@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/randomNumber.css" rel="stylesheet" />
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {

        $('#leftBtn').click(function () {
            ajaxCalculate('#LeftNumber');
        })

        $('#rightBtn').click(function () {
            ajaxCalculate('#RightNumber');
        })

        function ajaxCalculate(inputSelector) {

            let number = $(inputSelector).val();
            let result = $('#Result').val();
            $.ajax({
                type: "GET",
                url: "./Home/Cal",
                data: { addend: number, result: result },
                dataType: 'json',
                contentType: 'application/json'
            }).done(function (jsonResult) {
                $(inputSelector).val(jsonResult.Number);
                $('#Result').val(jsonResult.Result);
            }).fail(function (data) {
            })
        }

    });

</script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Random Number Generator!!</p>
</div>

<div style="margin-bottom:10px;">
    <div class="number-field">
        <div>
            <h5>RIGHT</h5>
            <input asp-for="RightNumber" />
        </div>
        <div>
            <button type="submit" readonly id="rightBtn" class="btn btn-info btn-block">Add right side number</button>
        </div>
    </div>

    <div class="number-field">
        <div>
            <h5>LEFT</h5>
            <input asp-for="LeftNumber" />
        </div>
        <div>
            <button type="submit" readonly id="leftBtn" class="btn btn-info btn-block">Add left side number</button>
        </div>
    </div>
</div>

<div class="result-field">
    <h5>RESULT</h5>
    <input readonly asp-for="Result" />
</div>




