.number-field {
    display:inline-block;
    width: 49%;
    padding:10px
}

input {
    margin-bottom: 10px;
    border: none;
    font-size: 4rem;
    max-width: 250px;
    color: #3e3e3e;
}

.result-field{
    
}